# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Environment variables
.env
.env.*

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Coverage directory
coverage/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Misc
*.tgz
debug.log

# Temporary files
tmp/
temp/
*.tmp
*.temp

*.sql
*.sqlite

# ignoring gmail credentials
credentials*
token*
token.json
credentials.json
